<div id="new-twitter-form">
  <form method="POST" action="/">
    <div class="form-field">
      <label name="question">Ask me anything:</label><br>
      <br><input type="text" name="question">
    </div>
    <input type="submit">
  </form>
</div>
