<link rel="stylesheet" type="text/css" href="css/application.css">

<link rel="stylesheet" type="text/css" href="css/normalize.css">

<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<div class="new-statement">
  <form method="POST" action="/">
    <div class=".line">
      <label name="question"><h1>Say Something & Get a DBC Response:</h1></label><br>
      <br><input type="text" name="question">
    </div>
    <br>
    <input type="submit">
  </form>
</div>
